<h1>Sign up</h1>

<%= form_with model: @user, url: sign_up_path do |form| %>
<div class="mb-3">
  <%= form.text_field :email, class:"form-control", placeholder: "Email"%>
</div>
<div class="mb-3">
  <%= form.password_field :password, class:"form-control", placeholder: "Password" %>
</div>
<div class="mb-3">
  <%= form.password_field :password_confirmation, class:"form-control", placeholder: "Password 確認" %>
</div>
<div class="mb-3">
  <%= form.submit "新規登録", class:"btn btn-primary" ,data: { confirm: 'この内容で登録してもよろしいでしょうか？' }%>
</div>
<% end %>
